{{!--// HOMEPAGE VIEW DISPLAYING PRODUCTS home-card & home-card-body --}}
<div class="home-card">
<div class="home-card-body">
<section class="card">
        <header>{{product.name}}</header>
        <img src="{{product.path}}" alt="Product001" width="400" height="200" />
        <h2>{{product.price}}</h2>
        <description>{{product.description}}</description>
</section>
<section class="card">
        <header>{{product.name}}</header>
        <img src="{{product.path}}" alt="Product002" width="400" height="200" />
        <h2>{{product.price}}</h2>
        <description>{{product.description}}</description>
</section>
<section class="card">
        <header>{{product.name}}</header>
        <img src="{{product.path}}" alt="Product003" width="400" height="200" />
        <h2>{{product.price}}</h2>
        <description>{{product.description}}</description>
</section>
<section class="card">
        <header>{{product.name}}</header>
        <img src="{{product.path}}" alt="Product004" width="400" height="200" />
        <h2>{{product.price}}</h2>
        <description>{{product.description}}</description>
</section>
<section class="card">
        <header>{{product.name}}</header>
        <img src="{{product.path}}" alt="Product005" width="400" height="200" />
        <h2>{{product.price}}</h2>
        <description>{{product.description}}</description>
</section>
<section class="card">
        <header>{{product.name}}</header>
        <img src="{{product.path}}" alt="Product006" width="400" height="200" />
        <h2>{{product.price}}</h2>
        <description>{{product.description}}</description>
</section>
</div>
</div>