<div class='d-flex row justify-space-between g-2 all-products'>


  {{#each product as |prod|}}
    <section class='home-card mb-2'>
      <div>{{prod.name}}</div>
      <img src='{{prod.path}}' alt='{{prod.name}}' width='210' height='auto' />
      <h2>{{prod.price}} CAD</h2>
      <description>{{prod.description}}</description>
      <button class="btn btn-success" data-pid="{{prod.id}}">Add to Cart</button>
    </section>
  {{/each}}

  <script src="/js/store.js"></script>